<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pgi_app">
    
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/plant_ico"
        android:label="Bland"
        android:roundIcon="@drawable/plant_ico"
        android:supportsRtl="true"
        android:theme="@style/Theme.PGI_app">
        <activity
            android:name=".HortaActivity"
            android:exported="false" />
        <activity
            android:name=".MinhasHortas"
            android:exported="false"
            android:theme="@style/Theme.PGI_app.NoActionBar" />
        <activity
            android:name=".BasicActivity"
            android:exported="false" />
        <activity
            android:name=".TiposdeAgricultura"
            android:exported="false"
            android:theme="@style/Theme.PGI_app.NoActionBar" />
        <activity
            android:name=".SearchPage"
            android:exported="false"
            android:theme="@style/Theme.PGI_app" />
        <activity
            android:name=".PlantPage"
            android:exported="false"
            android:label="@string/title_activity_plant_page"
            android:theme="@style/Theme.PGI_app.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>